<div class="club-history">
    <h2 class="history-title">História</h2>
    <p class="history-description">
        <b></b>
        O FC Barcelona é um dos clubes de futebol mais famosos do mundo, com uma história rica em conquistas e tradição. Fundado em 1899, o clube se tornou um símbolo da identidade catalã 
        e é conhecido por seu estilo de jogo ofensivo e atraente.
        <br><br>
        Ao longo de sua história, o Barça conquistou inúmeros títulos nacionais e internacionais, incluindo 26 Campeonatos Espanhóis, 31 Copas do Rei e 5 Liga dos Campeões da UEFA. 
        O clube também é conhecido por sua filosofia de valorizar a formação de jogadores através da sua renomada academia, La Masia.
        <br><br>
        Com uma torcida apaixonada e fiel em todo o mundo, o FC Barcelona é mais do que um clube de futebol - é uma instituição que representa os valores de excelência, inovação e respeito.
    </p>
</div>