<div class="headerMainClass">
  <img class="spaceMarginInfoHeader" src="assets/images/laliga-logo.png" alt="La liga App" width="75em" height="50em">
  <div class="tabsMainHeader">
    <a href="#" class="links-header-main">Noticias</a>
    <a href="#" class="links-header-main">Configurações</a>
    <a href="#" class="links-header-main">Ingressos</a>
    <a href="#" class="links-header-main">Galeria</a>
  </div>
</div>

<app-la-liga-squads-carousel [imagens]="imagens"/>

<router-outlet></router-outlet>