.pageColor {
    background-image: linear-gradient(to bottom, #141414, #009797);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}