@import "~bootstrap-icons/font/bootstrap-icons.css";


.pageColor {
    background-image: linear-gradient(to bottom, #1d1755, #988cd8);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}