.players-title{
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #0c0c0c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.slider-players{
    margin-left: 3rem;
    margin-right: 3rem;
    cursor: grab;
}

.playerInfo{
    flex-direction: column;
    display: flex;
    align-items: center;
}

.player-image{
    margin-top: 1rem;
    background-image: linear-gradient(to top right, #703333  50%,#333770 50%);
    border-radius: 25%;
    width: 8rem;
}

.player-image::after{
    content: "";
    position: absolute;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0,3);
    width: 100%;
    z-index: -1;
}

.player-image:hover{
    margin-top: 2rem;
    transform: scale(1.3, 1.3);
    margin-bottom: 1rem;
}

.player-name{
    margin-top: 0.5rem;
    color: #0c0c0c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}