<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
        <div *ngFor="let pair of imagePairs; let i = index" [ngClass]="{'carousel-item': true, 'active': i === 0}">
            <div class="d-flex">
                <img *ngFor="let img of pair" [src]="img" class="d-block imgSize" alt="...">
            </div>
        </div>
    </div>
    <button class="carousel-control-prev siu" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>