/* .squads{
    padding: 20px 0;
}

.slider-wrap{
    position: relative;
}

.slider-main{
    position: absolute;
    width: 200%;
    overflow: hidden;
}

.item{
    display: inline-block;
    width: 140px;
    height: 150px;
    position: relative;
    margin: 0 12px;
}

.logo-squad{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 5rem;
}

.next-button-carousel{
    position: absolute;
    right: -5px;
    top: 55px;
}

.prev-button-carousel{
    position: absolute;
    left: 0;
    top: 55px;
} */

.card-body{
    display: flex;
    justify-content: center;
}

.wrapper{
    max-width: 100%;
}

.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    overflow: hidden;
}

.card{
    margin-top: 20%;
    width: 10rem;
    background-image: linear-gradient(to top right, #ffffff, #ffffff);
    border-radius: 13px;
}

.logo-squad{
    height: 4rem;
}